@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Beaufort;
  src: url('../fonts/Beaufort.ttf') format('ttf');
}

@font-face {
  font-family: Beaufort;
  src: url('../fonts/Beaufort.eot'); /* IE9*/
  src: url('../fonts/Beaufort.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/Beaufort.woff2') format('woff2'),
    /* chrome、firefox */ url('../fonts/Beaufort.woff') format('woff'),
    /* chrome、firefox */ url('../fonts/Beaufort.ttf') format('truetype');
}

body {
  background-color: #00101f;
  margin: 0;
}

.background {
  background-position: center;
  background-size: cover;
  height: 100vh;
  left: 0;
  opacity: 1;
  position: absolute;
  transition: opacity 150ms linear;
  top: 0;
  width: 100vw;

  &.background-hidden {
    opacity: 0;
  }
}

.app {
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
  letter-spacing: 0.03125rem;
  overflow: auto;
  position: absolute;
  width: 100vw;
}

button {
  border: 0.0625rem solid #2f261c;
  color: #f0e6d2;
  font-family: Beaufort, serif;
  font-size: 1.125rem;
  min-width: 10rem;
  padding: 0.625rem 1rem;
  position: relative;
  text-transform: uppercase;
  z-index: 0;

  $inner-border-width: 0.1875rem;
  &:before,
  &:after {
    content: '';
    position: absolute;
    z-index: -1;
  }

  // Blue.
  &:before {
    background: linear-gradient(#08bbb5, #01678b);
    bottom: $inner-border-width + 0.0625rem;
    left: $inner-border-width + 0.0625rem;
    right: $inner-border-width + 0.0625rem;
    top: $inner-border-width + 0.0625rem;
  }
  &:hover:before {
    background: linear-gradient(#aaf5ff, #3dafd6);
  }

  // Grey.
  &:after {
    background-color: #1e2328;
    bottom: 2 * $inner-border-width;
    left: 2 * $inner-border-width;
    right: 2 * $inner-border-width;
    top: 2 * $inner-border-width;
  }
}

input {
  background-color: rgb(3, 6, 8);
  border: 0.0625rem solid #785a28;
  border-radius: 0;
  letter-spacing: 0.0625rem;
  padding: 0.375rem 1rem;
  position: relative;

  &::placeholder {
    color: #a09b8c;
  }

  &:focus,
  &:focus-within {
    background-color: rgba(3, 6, 8, 0.4);
    border-color: #b3955c;
    outline: none;
  }
}

.title {
  color: #f0e6d2;
  font-family: Beaufort, serif;
  font-size: 6rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

@media (max-width: 640px) {
  .title {
    font-size: 3rem;
  }
}

.subtitle {
  color: #785a28;
  font-family: Beaufort, serif;
  font-size: 1rem;
  letter-spacing: 0.1875rem;
  text-transform: uppercase;
}

h1 {
  color: #f0e6d2;
  font-family: Beaufort, serif;
  font-size: 2rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.with-tooltip {
  cursor: help;
  overflow: visible;
  position: relative;

  &:before {
    background-color: #010a13;
    border: 0.125rem solid #463714;
    border-image: linear-gradient(#463714, #60491e);
    border-image-slice: 1;
    border-width: 0.125rem;
    bottom: calc(100% + 0.5rem);
    color: #a09b8c;
    content: attr(data-tooltip-content);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
    font-weight: 400;
    left: 50%;
    transition: opacity 150ms;
    opacity: 0;
    padding: 0.875rem 0.75rem;
    position: absolute;
    transform: translateX(-50%);
    visibility: hidden;
    white-space: nowrap;
  }

  &:hover:before {
    opacity: 1;
    visibility: visible;
  }
}

.clickable {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
